#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

nav ul {
  margin: 0 auto;
  max-width: 1430px;
  display: flex;
  gap: 20px;
}

.home-link {
  margin-right: 50px;
}

.app {
  min-height: calc(100vh - var(--footer-size));
}

.home {
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 50px;
}

.home-img-container {
  max-width: 450px;
  border-radius: 10px;
  overflow: hidden;
}

.home-img-container img {
  height: 100%;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-img-container {
  position: relative;
  width: 100vw;
}

.game-img-container img {
  width: 100%;
}

.popup {
  position: absolute;
}

.found {
  color: rgb(178, 178, 178);
}
